doctype html
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title NEWZ
    style.
        body {
            background-color:#000000;
            font-family: Arial, sans-serif;
            color:#FFFFFF;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #ad1d28;
            color: #ffffff;
            padding: 5px;
            text-align: center;
        }
        .news-item {
            border: 1px solid #ddd;
            margin: 10px;
            padding: 10px;
            border-radius: 5px;
        }
body
    header
        h1 WELCOME TO THE CINEVERSE 
     header.subtitle The portal to all cinema communities
    .news-item
        h2 THE ACTIONER
        p  Join the action movie lovers community to have fun and blasting out with friends about it.Click the following link key to get in.
        p
            a(href="#") LINK KEY
    .news-item
        h2 PYSCHO-PATHS
        p  All murder myster movies and solutions at one place,probably too scariest group .Click the following link key to get in.
        p
        p
            a(href="#") LINK KEY
    