extends layout

block content
    #banner.page-header
        style
            background-color: #333
        .row
            .col-lg-5.text-center
                h1
                    | HELLO CINEPHILES! WELCOME TO FLIX&FRIENDS ......
                p.lead
                    | Gathering all cinephiles in one platform...
    
    #about.page-section
        .row
            .col-lg-6.col-md-6.col-sm-12
                .card.team-card.mx-auto
                    h1.card-title What is F&F?
                    .card-body(style="background-color:red; color: white;", class="img-thumbnail img-fluid m-x-auto")
                        h7.card-text Friends & Flix is a platform created by passionate cinephiles who want to share their love for movies with other like-minded people. We believe that watching movies is more than just entertainment, it's a way of connecting, learning, and exploring new perspectives. That's why we created Friends & Flix, a place where you can find and join movie clubs, chat with other movie lovers, and discover new films to watch.
                br                
                img.card-img-top(src="images/min.gif", alt="Co-founder", class="img-thumbnail img-fluid m-x-auto d-block", width="350px")
                .card-footer.social-icons
    
            .col-lg-6.col-md-6.col-sm-12
                .card.team-card.mx-auto
                    h1.card-title Strength of F&F!
                    .card-body(style="background-color: red; color: white;", class="img-thumbnail img-fluid m-x-auto")
                        h4.card-text From a regular movie community to an all-encompassing platform, we have grown to this point, connecting people from all around. We continue to grow and watch! And there are many more surprises to come!
                br
                img.card-img-top(src="images/gp.jpg", alt="Co-founder", class="img-thumbnail img-fluid m-x-auto d-block", width="350px")

        .row
            .col-lg-6.col-md-6.col-sm-12
                .card.team-card.mx-auto
                    h1.card-title CONTACT US
                    .card-body(style="background-color: maroon; color: white;", class="img-thumbnail img-fluid m-x-auto")
                        h7.card-text CALL US AT ANYTIME, BUT NOT WHILE WATCHING A MOVIE....
                br
                img.card-img-top(src="images/call.gif", alt="Co-founder", class="img-thumbnail img-fluid m-x-auto d-block", width="350px")

            .col-lg-6.col-md-6.col-sm-12
                .card.team-card.mx-auto
                    h1.card-title Join us to combine hands with your favorite booking site ...............
                    .card-body(style="background-color: maroon; color: white;", class="img-thumbnail img-fluid m-x-auto")
                        h7.card-text Wait for the biggest upcoming event, keep following us
                        a(href="#") @f&f-insta
                br
                img.card-img-top(src="images/in.png", alt="Co-founder", class="img-thumbnail img-fluid m-x-auto d-block", width="350px")
