extends layout

block content
    #banner.page-header
        style
        .row
            .col-lg-5.text-center
                h1
                    | Welcome to Engineering Student Smart Class!
                p.lead
                    | Enhancing Engineering Education with Technology
    
    #about.page-section
        .row
            .col-lg-6.col-md-6.col-sm-12
                .card.team-card.mx-auto
                    h1.card-title What is ESSC?
                    .card-body(style="background-color: #3498db; color: white;", class="img-thumbnail img-fluid m-x-auto")
                        h7.card-text Engineering Student Smart Class is a platform designed for engineering students to access high-quality educational resources and interactive learning experiences. We believe in harnessing technology to make engineering education more engaging, efficient, and effective. Join us on this educational journey.
                br
                img.card-img-top(src="images/smart-class.jpg", alt="Smart Class", class="img-thumbnail img-fluid m-x-auto d-block", width="350px")
                .card-footer.social-icons
    
            .col-lg-6.col-md-6.col-sm-12
                .card.team-card.mx-auto
                    h1.card-title Features of ESSC
                    .card-body(style="background-color: #3498db; color: white;", class="img-thumbnail img-fluid m-x-auto")
                        h4.card-text Explore a wide range of features, including interactive lectures, virtual labs, discussion forums, and collaborative projects. Join our community of engineering enthusiasts and access a wealth of knowledge and resources.
                br
                img.card-img-top(src="images/feature.jpg", alt="Features", class="img-thumbnail img-fluid m-x-auto d-block", width="350px")

        .row
            .col-lg-6.col-md-6.col-sm-12
                .card.team-card.mx-auto
                    h1.card-title Contact Us
                    .card-body(style="background-color: #e74c3c; color: white;", class="img-thumbnail img-fluid m-x-auto")
                        h7.card-text Have questions or need assistance? Feel free to contact us anytime. We're here to support your engineering learning journey.
                br
                img.card-img-top(src="images/contact-us.jpg", alt="Contact Us", class="img-thumbnail img-fluid m-x-auto d-block", width="350px")

            .col-lg-6.col-md-6.col-sm-12
                .card.team-card.mx-auto
                    h1.card-title Join Our Community
                    .card-body(style="background-color: #e74c3c; color: white;", class="img-thumbnail img-fluid m-x-auto")
                        h7.card-text Stay tuned for exciting events and educational content. Follow us on social media to get updates on the latest developments in engineering education.
                        a(href="#") Join us on Facebook
                br
                img.card-img-top(src="images/social-media.jpg", alt="Social Media", class="img-thumbnail img-fluid m-x-auto d-block", width="350px")
