extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Veg
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          
          .panel.panel-primary
            .panel-heading
              h2.panel-title Classic Polo Diectors Name Tshirts 
               span.badge.pull-right.badge-default Rs.300
            .panel-body
            img(src="images/M1.jpg", alt="tiramisu", style="width: 100%; height: auto;")
              p Indulge in layers of coffee-soaked ladyfingers and velvety mascarpone cheese, delicately dusted with cocoa powder. Our Classic Tiramisu is a timeless Italian dessert that combines rich flavors and a light, creamy texture for a delightful after-meal treat.
          .panel.panel-primary
            .panel-heading
              h2.panel-title Gulab Jamun 
               span.badge.pull-right.badge-default Rs.400
            .panel-body
              img(src="images/M1.jpg", alt="jamun", style="width: 100%; height: auto;")
              p Gulab Jamun is a delectable Indian dessert featuring golden, syrup-soaked dough balls with a delightful blend of sweetness and aromatic flavors, often served on special occasions and celebrations.

          .panel.panel-primary
            .panel-heading
              h2.panel-title Raspberry White Chocolate Cheesecake
               span.badge.pull-right.badge-default Rs.400
            .panel-body
              img(src="images/rasberry.jpeg", alt="cheesecake", style="width: 100%; height: auto;")
              p Delight in the harmonious pairing of tangy raspberries and smooth white chocolate in our Cheesecake. The velvety cheesecake sits atop a buttery graham cracker crust, creating a dessert that's both visually appealing and delectably flavorful.
              
          .panel.panel-primary
            .panel-heading
              h2.panel-title Molten Chocolate Lava Cake
               span.badge.pull-right.badge-default Rs.400
            .panel-body
              img(src="images/chocolava.jpeg", alt="chocolava", style="width: 100%; height: auto;")
              p A decadent dessert experience awaits with our Molten Chocolate Lava Cake. As you cut into the warm cake, a luscious river of molten chocolate flows, complementing the moist chocolate cake exterior. Served with a scoop of vanilla ice cream for an extra touch of sweetness.
        .col-xs-12.col-sm-4
           p.lead
             | abc 