doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Courses
    style.
      body {
        background-color: #000000;
        font-family: Arial, sans-serif;
        color: #FFFFFF;
        margin: 0;
        padding: 0;
      }
      header {
        background-color: #ad1d28;
        color: #ffffff;
        padding: 5px;
        text-align: center;
      }
      .course-item {
        border: 1px solid #ddd;
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
      }
  body
    header
      h1 Courses
    .course-item
      h2 PYTHON
      p Learn python language in the most effective and quick way.
      p Duration: 2 weeks
      p Enrolled Users: 500
      a(href="#") Learn More
    .course-item
      h2 JAVA
      p Learn python language in the most effective and quick way in a different way.
      p Duration: 6 weeks
      p Enrolled Users: 350
      a(href="#") Learn More
    .course-item
      h2 AI
      p Enter the world of Ai and ml Course 
      p Duration: 8 weeks
      p Enrolled Users: 700
      a(href="#") Learn More
