doctype html
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title NEWZ
    style.
        body {
            background-color:#000000;
            font-family: Arial, sans-serif;
            color:#FFFFFF;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #ad1d28;
            color: #ffffff;
            padding: 5px;
            text-align: center;
        }
        .news-item {
            border: 1px solid #ddd;
            margin: 10px;
            padding: 10px;
            border-radius: 5px;
        }
body
    header
        h1 NEWZ
    .news-item
        h2 Blast Mohan wins 2 Oscars !
        p  Renowned actor Blast Mohan secures victory with two Oscars! The Hollywood star shines as Best Actor and Producer for his exceptional contributions. 🌟🏆 #Oscarmanadhe
        p
            a(href="#") Read more
    .news-item
        h2 Nbk500:Title leaked ?
        p  Desi Buzz: Whoops! Balakrishna Bhai's 500th flick title "Golden Legacy" slips out! B-town's OG star's next biggie's naam has Desi filmy fans pumped! 🎥🔥 #Balakrishna500
        p
            a(href="#") Read more
    .news-item
        h2 Om Raut's Mahabharath Review
        p Review is out here ,click to get the early reviews.
        p
            a(href="#") Read more
