doctype html
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title NEWZ
    style.
        body {
            background-color:#000000;
            font-family: Arial, sans-serif;
            color:#FFFFFF;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #ad1d28;
            color: #ffffff;
            padding: 5px;
            text-align: center;
        }
        .news-item {
            border: 1px solid #ddd;
            margin: 10px;
            padding: 10px;
            border-radius: 5px;
        }
body
    header
        h1 FRIENDS WATCH PARTY
    .news-item
        h1 AVAILABLE SOON!
        p
    body(style="background-color: rgba(0, 0, 0, 0.5);background-image: url(images/tt.gif); background-repeat:no-repeat; background-size:1650px 1520px")
